 *{
    padding:0;
    margin:0;
}

body{
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.more{
width: 1000px;
margin: auto;
}

.more within{
    width: 75%;
    margin: auto;
}


#content{
    width:100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: orange;
    z-index: 1;
}

.content a{
    color: pink;
    font-weight: 500;
    text-decoration: none;
}

#thing{
border-radius: 5px;
padding: 9px 14px 9px 14px;
font-size: 1rem;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;
background-color: black;
color: white;
}

/* the styles for the footer */
footer {
	background-color: #ce5905a1;
	clear: both;
    margin-top: auto;
    bottom: 500px;
}
footer p {
	text-align: center;
	color: black;
	padding: 1em 0;
    bottom: 500px;
}

@media(max-width:100px){
    .more{
        width:100%;
    }
} 